
body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;


}

h1{
  color: #E9A6A6;
  font-size: 4.0rem;
  margin: 50px auto 0 auto; 
  font-family: 'Satisfy', cursive;
  font-weight: normal;
}

h2 {
  color: #E9A6A6;
  font-family: 'Roboto', sans-serif;
  font-size: 2.4rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #C37B89;
  font-family: 'Roboto', sans-serif;
}

p {
  line-height: 2;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a{
  color: #C37B89;
  font-family: 'Roboto', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.a-programmer {
  color: #E9A6A6;
  font-size: 1.8rem;
  margin-top: 10px;
}
.pro {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;
}
.top-container {
  background-color: #FDEBF7;
  position: relative;
  padding-top: 100px; 
  
/* or use this #FEE3EC */
}

.middle-container {
  margin: 80px 0;
}

.bottom-container {
  background-color: #E9A6A6;
  padding: 50px 0 20px;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.laptop-image {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.idea-image {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.btn {
  background: #ED8D8D;
  background-image: -webkit-linear-gradient(top, #ED8D8D, #C37B89);
  background-image: -moz-linear-gradient(top, #ED8D8D, #C37B89);
  background-image: -ms-linear-gradient(top, #ED8D8D, #C37B89);
  background-image: -o-linear-gradient(top, #ED8D8D, #C37B89);
  background-image: linear-gradient(to bottom, #ED8D8D, #C37B89);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #FBE5E5;
  background-image: -webkit-linear-gradient(top, #FBE5E5, #FFAAA5);
  background-image: -moz-linear-gradient(top, #FBE5E5, #FFAAA5);
  background-image: -ms-linear-gradient(top, #FBE5E5, #FFAAA5);
  background-image: -o-linear-gradient(top, #FBE5E5, #FFAAA5);
  background-image: linear-gradient(to bottom, #FBE5E5, #FFAAA5);
  text-decoration: none;
}
